header{
    	font-family:"comic sans ms" ;
    	text-align: center;
    	background-color: green;
    	color: white;
      padding: 5px;
    	margin:0px;

    }
    nav a{
	float:left;
	padding-right:15px;
	color: whitesmoke;
	padding: 10px 20px;
 }
    
   nav{
   	overflow: hidden;
   	background-color:#27292b;
   }
   nav a:hover{
   	background-color:grey;
   	color:white;
   }
   footer{
    overflow: hidden;
    background-color:#27292b;
    text-align:center ;
    color:white;


   }
   .logo {
            max-width: 100px; /* Adjust the size as needed */
            display: block;
            margin:0 auto; /* Center the logo horizontally */
      }
